.env

bin/
obj/
_build_out/
.build-check/
/packages/
riderModule.iml
/_ReSharper.Caches/
.fake

.idea/

./Promt.md

Logs/

.vs/

.mongodb_data

src/Braxus.Eventos.Api.Api.slnLaunch.user
src/Braxus.Eventos.Api.ApiGateway.slnLaunch.user
*.pubxml.user
*.csproj.user
*.slnLaunch.user

/Braxus.Eventos.Api.Api/bin
/Braxus.Eventos.Api.Api/obj

/Braxus.Eventos.Api.ApiGateway/bin
/Braxus.Eventos.Api.ApiGateway/obj

/Braxus.Eventos.Api.Application/bin
/Braxus.Eventos.Api.Application/obj


/Braxus.Eventos.Api.Domain/bin
/Braxus.Eventos.Api.Domain/obj

/Braxus.Eventos.Api.Infrastructure/bin
/Braxus.Eventos.Api.Infrastructure/obj